.game-version__root {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
}

.game-version__panel {
    background-color: transparent;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.game-version__text {
    color: rgb(60, 6, 63);
    font-size: 32px;
    -unity-font-style: normal;
    -unity-text-align: middle-right;
}
